<!-- <amberdata-recordinfo #appRecord [disableEdit]="false" 
[scene]="'erms_zljh'" 
  class="show--template--content--box" [id]="id" 
 [showTemplateXml]="showTemplateXml" [jsonMetadataTemplate]="jsonMetadataTemplate" 

 [_SelectUserServiceGetList]="_AppService.getUserList"
 [getMulModifeProPertyValues]="_AppService.getMulModifeProPertyValuesFormatted"
 [_dwClassManageServiceGetMetadataCategoryInfo]="get_dwClassManageServiceGetMetaSysClassList"
 [_dwClassManageServiceGetMetaSysClassList]="_AppService.getClassLIst"
 [serverFiles] ="files"
 [info]="info" >
</amberdata-recordinfo> -->
<div class="show--template--content--wrap">
  <add-electronic-document #elecDocument 
  [jsonMetadataTemplate]="jsonMetadataTemplate"
  [metadataSchemeId]="metadataSchemeId" 
  [AuthenticationService]="_AppService"
  [customPreviewHandle]="true"
  [serverFiles] ="files"
  [baseUrl]="'/ermsapi'"
  [ApiUrl]="_ApiUrl"
  [disableEdit]="disableEdit"
  [objectPath]="objectPath"
  [getPolicyInfoPomise]="_AppService.getRecordemial">
  </add-electronic-document >
</div>
<button (click)="disableEdit=!disableEdit">编辑/查看</button>
<button (click)="editRecord()">保存</button>


