/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-zorro-antd/tree-select/style/index.min.css";
@import "~ng-zorro-antd/tree/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";  /* 选择 */
@import "~ng-zorro-antd/date-picker/style/index.min.css";  /* 进度条样式 */
@import "~ng-zorro-antd/input/style/index.min.css";  /* 下拉 */
@import "~ng-zorro-antd/progress/style/index.min.css";  /* 下拉 */
@import "~ng-zorro-antd/progress/style/index.min.css";  /* 下拉 */

@import "~ng-zorro-antd/notification/style/index.min.css"; /* 提示消息 */
.drag-over-gap-bottom{
    border-bottom:2px solid #1890ff;
}
  
.drag-over-gap-top{
    border-top:2px solid #1890ff;
}

.drag-over{
    background:#eaeaea;
    // border: 1px dashed #eee;
}

.has-error-input{
    border-color : red 
}

.progress--box{
    // .ant-progress-line{
.ant-progress-outer{
    display: inline-block;
    width: calc(100% - 40px);
}
}

.show--template--content--wrap{
    .add--ele--doc--radio--box{
      .head{
        margin-bottom: 0 !important;
        display: inline-block;
        width: 75px;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
    .select--node--upload--box{
      .head{
        margin-bottom: 0 !important;
        display: inline-block;
        width: 75px;
        vertical-align: top;
        margin-right: 16px;
        padding-top: 7px;
      }
      form-upload{
        margin-top: 0 !important;
        vertical-align: top;
        width: calc(100% - 91px);
        .fileinput-button{
          // margin-bottom: 8px;
        }
        .home--upload--table--box{
          margin-top: 8px;
        }
        .file--name--box{
          width: 100%;
          .file--name{
            max-width: 400px !important;
          }
        }
      }
      nz-tree{
        display: inline-block;
        vertical-align: top;
        padding-top: 1px;
        width: calc(100% - 91px);
        .custom-node{
          form-upload{
            .fileinput-button{
              margin-left: 8px !important;
              height: 24px;
              line-height: normal;
              padding: 2px 4px;
              min-width: 46px;
            }
          }
        }
    }
  
    }
  }
  .defalut--list--box{
    margin-bottom: 8px;
    margin-left: 91px;
    width: calc(100% - 91px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 16px;
    &:nth-of-type(1){
      // margin-top: 20px;
      // margin-bottom: 0;
    }
    li{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      line-height: 1.2;
      .da_annex--icon{
        width: 15px;
        margin-right: 6px;
      }
      .file--name{
        width: calc(100% - 36px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0, 0, 0, .85);
        &::before{
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 6px;
          background: url(assets/images/icon/da_annex.svg) no-repeat;
          background-size: 15px;
          vertical-align: middle;
        }
      }
      .ti-trash{
        cursor: pointer;
      }
      &:hover{
        background: #e6f7ff;;
      }
    }
    &:last-of-type{   
      li{
        // margin-bottom: 0;
      }
    }
  }

.fileActive {
  background: #e6f7ff;
}